<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ site.config.PROJECT.name }}</title>
</head>
<body>
  <a href="/work">
    <main class="container">
      <div class="overlay">
        <img class="logo" src="/static/images/logo-solid.svg" alt="{{ site.config.PROJECT.name }}" />
      </div>
    </main>
  </a>
  <div class="content">
    <footer class="suffix-5">&copy; {{ site.config.PROJECT.name }} 2018</footer>
  </div>
</body>
</html>