<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {% if this.title %}
  {{ site.config.PROJECT.name }} - {{ this.title }}
  {% else %}
  {{ site.config.PROJECT.name }}
  {% endif %}
</title>
{{ this.external_scripts }}
{% block meta_tags %}{% endblock %}
</head>
<body>
  <header class="text-heading">
    <div class="header-content content">
      
      <div class="prefix-5">
        <a href="/">CME Design</a>
      </div>

      <nav class="suffix-5">
        {% for hrefs, title in [
          [['/', '/work'], 'Portfolio'],
          [['/about'], 'About'],
          [['/contact'], 'Contact']
        ] %}
          {% if not this._path in hrefs %}
          <a href="{{ href }}" >{{ title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </div>
  </header>

  <main class="content">
    {% if this.css_wrapper %}
    <div class="{{ this.css_wrapper }}">
    {% else %}
    <div class="prefix-5 grid-90">
    {% endif %}
    {% block body %}{% endblock %}
    </div>
  <footer class="suffix-5">
    &copy; {{ site.config.PROJECT.name }} 2020
  </footer>
</body>
</html>