<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Open+Sans:400,600,700" rel="stylesheet">
<link rel="stylesheet" href="{{ '/static/style.css'|url }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  {% if this.title %}
  {{ site.config.PROJECT.name }} - {{ this.title }}
  {% else %}
  {{ site.config.PROJECT.name }}
  {% endif %}
</title>
{{ this.external_scripts }}
{% block meta_tags %}{% endblock %}
</head>
<body>
  <header class="text-heading">
    <div class="header-content content">
      <div class="logo-wrap prefix-5">
        <a href="{{ '/contact'|url }}"><img class="logo header-logo" src="{{ '/static/images/logo-solid.svg'|url }}" alt="Lorenzo Studios" /></a>
      </div>

      <nav class="suffix-5">
        {% for href, title in [
          ['/work', 'Work'],
          ['/about', 'About'],
          ['/contact', 'Contact']
        ] %}
          <a 
            {% if this.is_child_of(href) %}
            class="text-underline"
            {% endif %}
            href="{{ href }}"
          >{{ title }}</a>
        {% endfor %}
      </nav>
    </div>
  </header>

  <main class="content">
    {% if this.css_wrapper %}
    <div class="{{ this.css_wrapper }}">
    {% else %}
    <div class="prefix-5 grid-90">
    {% endif %}
    {% block body %}{% endblock %}
    </div>
  <footer class="suffix-5">
    &copy; {{ site.config.PROJECT.name }} 2018
  </footer>
</body>
</html>